/* #stage {
    width: 500px;
    height: 375px;
    position: relative;
    border: 2px solid black
  } */

canvas { 
    position: absolute;
    background-color: transparent
}

#img-overlay {
    z-index: 9999;
}

#canvas {
    z-index: 8000;
    /* width: 90vw;
    height: 75vh; */
}

video {
    width: 90vw;
    height: 75vh;
}

#container {
    width: 100px;
    height: 75px;
}